<launch>
    <!-- Establish connection with Gazebo -->
    <include file="$(find stingray_launch)/launch/stingray_common.launch">
        <arg name="simulation" default="true" />
        <arg name="hardware_connection" default="false" />
        <arg name="missions_enabled" value="false" />
    </include>

    <!-- Run object detector node -->
    <include file="$(find sauvc_vision)/launch/object_detector_simulator.launch">
        <arg name="cameras" value="false" />
        <arg name="front_camera_topic" default="/stereo/camera/left/image_raw" />
        <arg name="bottom_camera_topic" default="/ROV_model_URDF/camera_bottom/image_raw" />
        <arg name="stream" default="false" />
    </include>

    <node name="udp_bridge" pkg="sauvc_common" type="udp_bridge.py" output="screen" respawn="true"/>

</launch>